.labelImageContainer {
	display: inline-block;
  margin-top: 5px;
  margin-bottom: 9px;
}

.labelImageContainer > img {
  width: 48px;
  height: 48px;
  display: inline-block;
  vertical-align: middle;
}

.labelImageContainer > label {
  display: inline-block;
  vertical-align: middle;
  margin-left: 10px;
}